
:root {
    --head-background-color: #FFFFFF;
    --main-bcg-color: #E5E5E5;
    --team-background-color: #F5F4FA;
    --hero-background-color: #2F303A;
    --footer-background-color: #2F303A;
    --accent-color: #2196F3;
    --logo-primary-color: #000;
    --logo-secondary-color: #FFFFFF;
    --header-nav-text-color: #212121;
    --header-btn-text-color: #757575;
    --hero-text-color: #FFFFFF;
    --hero-btn-text-color: #FFFFFF;
    --properties-title-color: #212121;
    --properties-text-color: #757575;
    --work-title-color: #212121;
    --team-top-text-color: #212121;
    --team-bottom-text-color: #757575;
    --footer-main-text-color: #FFFFFF;
    --footer-secondary-text-color: rgba(255, 255, 255, 0.6);
    --portfolio-bcg-color: #E5E5E5;
    --portfolio-title-text-color: #212121;
    --portfolio-btn-text-color: #212121;
    --portfolio-btn-bcg-color: #F5F4FA;
    --portfolio-main-text-color: #757575;
   }

body {
    font-family: 'Roboto', 'Tahoma', sans-serif;
    letter-spacing: 0.03em;

    background-color: var(--main-bcg-color);
    color: var(--properties-text-color);
}

/* шапка */

.link {
text-decoration: none;
}

.list {
 list-style: none;   
 margin: 0;
 padding: 0;
}

img {
display: block;
}

.logo,
.logo-secondary {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;

color: var(--logo-primary-color);
}

.logo {
margin-right: 94px;
}

.logo-primary-accent,
.logo-secondary-accent {
color: var(--accent-color);
}

.logo-primary-accent:hover, 
.logo-primary-accent:focus {
color: var(--logo-color);
}

.logo:hover, 
.logo:focus {
color: var(--accent-color);
}

.head {
background-color: var(--head-background-color);
border-bottom: 1px solid #ECECEC; 
}

.head-item {
color: var(--header-nav-text-color);
}

.btn-item {
color: var(--header-btn-text-color);
}

.head-item,
.btn-item {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;  
}

.head-item:hover,
.head-item:focus,
.head-item.current,
.btn-item:hover,
.btn-item:focus {
color: var(--accent-color);
}

/* герой */

.hero {
background-color: var(--hero-background-color);
text-align: center;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--hero-text-color);

margin-top: 0;
margin-bottom: 30px;
}

.hero-btn {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
min-width: 200;
min-height: 50px;
margin-bottom: 200px;

color: var(--hero-btn-text-color);
background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
color: var(--accent-color);
background-color: #FFFFFF;
}

.hero-btn,
.examples-btn-item {
cursor: pointer;
}

/* преимущества компании */

.hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.properties {
padding-top: 84px;
padding-bottom: 94px;
}

.properties-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 10px;

color: var(--properties-title-color);
}

.properties-text {
font-size: 14px;
line-height: 1.71;
margin-top: 0;
margin-bottom: 0;
}

/* чем мы занимаемся */

.work-title,
.team-title {
font-size: 36px;
line-height: 1.17;
text-align: center;

color: var(--work-title-color);
}

.work-title {
margin-top: 0;
margin-bottom: 50px;
}

.work {
padding-top: 0;
padding-bottom: 94px;
}

/* наша команда */

.team {
background-color: var(--team-background-color);
padding-top: 94px;
padding-bottom: 94px;
}

.team-name,
.team-text {
font-size: 16px;
line-height: 1.19;
text-align: center;  
}

.team-title {
margin-top: 0;
margin-bottom: 50px;
}

.team-item > img {
margin-top: 0;
margin-bottom: 30px;
}

.team-name {
font-weight: 500;
margin-top: 0;
margin-bottom: 10px;

color: var(--team-top-text-color);
}

.team-text {
color: var(--team-bottom-text-color);

margin-top: 0;
margin-bottom: 30px;
}

/* футер */

.footer {
background-color: var(--footer-background-color);
padding-top: 60px;
padding-bottom: 60px;
}

.logo-secondary {
color: var(--logo-secondary-color);
display: block;
margin-top: 0;
margin-bottom: 20px;
min-width: 145px;
}

.logo-secondary-accent {
color: var(--accent-color);
}

.logo-secondary:hover,
.logo-secondary:focus {
color: var(--accent-color);
}

.footer-item-tel,
.footer-item-mail,
.footer-item-address {
font-size: 14px;
line-height: 1.71;
}

.footer-item-tel,
.footer-item-mail {
color: var(--footer-secondary-text-color);
}

.footer-item-address {
color: var(--footer-main-text-color);
min-width: 231px;
}

.footer-item:not(:last-child) {
margin-top: 0;
margin-bottom: 9px;  
}

.footer-item:last-child {
margin-top: 0;
margin-bottom: 0;
}

.footer-item-address:hover,
.footer-item-address:focus,
.footer-item-mail:hover,
.footer-item-mail:focus,
.footer-item-tel:hover,
.footer-item-tel:focus {
color: var(--accent-color);
}

address {
font-style: normal;
}

/* Страница Портфолио */

.examples {
padding: 94px 0px;
}

.btn-list {
margin-top: 0;
margin-bottom: 50px;
}

.examples-btn-item {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
border-radius: 4px;
border: 1px solid transparent;
padding: 6px 22px;

color: var(--portfolio-title-text-color);
background-color: var(--portfolio-btn-bcg-color);
}

.examples-btn-item:hover,
.examples-btn-item:focus,
.examples-btn-item.current {
color: #FFFFFF;
background-color: var(--accent-color);
}

.examples-link:hover,
.examples-link:focus {
background-color: var(--accent-color);
}

.examples-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: var(--portfolio-title-text-color);
}

.examples-text {
font-size: 16px;
line-height: 1.88x;

color: var(--portfolio-main-text-color);
}

.container {
width: 1230px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
outline: 2px solid tomato;
 }